/* :root{
    display:grid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */
*{
    margin:0%;
}



body{
    display:flex
    
    
}

div.background{

    height:auto;
    width:75%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("pawel-czerwinski-6lQDFGOB1iw-unsplash\(1\).jpg");
    background-size:100vh;
    max-height: 1px;
    max-width: 60vh; 
    padding-bottom: 100vh;
    float:left;
    overflow: hidden;
}


@media only screen and (max-width: 700px) {
    div.background{
        background-size: 10px;

    }
    .logobox{
        content:"ERROR";
    }
   
    
}

img{
    height: 100px;
    
}

/* .bo{
    color:rgb(243, 0, 0);
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:sticky
    
} */

svg{
    opacity: 1.0;
}



.biggerbox > .logobox{
    display: flex; 
    flex-direction: column;
    width:100vh;
    height: auto;
    margin-top: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(166, 240, 240);
    opacity: 0.7;
}

div.forms{
    float:left;
    background-color: rgba(66, 77, 90, 0.712);
    margin:0px;
    padding-left: 10px;
    border:1px solid rgb(97, 88, 88);
    padding-top:5vh;
    padding-bottom:5vh;
    /* margin-bottom: 52vh; */
    

    
}

input, #create{

    border-radius:3px;
    border: 2px solid rgb(57, 51, 109);
    padding:2px;

}


#create{
    width:30%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 87px;
    box-sizing: border-box;

}
input{
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#create:hover{

}

div#main{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:right;
    height:auto;
    width:100%;
    background-color: rgb(57, 51, 109);
    padding-top: 0;
    padding-bottom:19vh;

    
    

}

/* input[type=text]:focus {
    background-color: lightblue;
  } */

#sec1, #sec2, #sec3{
    display:flex;
    flex-direction: row;

    
}

.header{
    /* height:20h; */
    /* margin-bottom: 20px; */
    line-height: 160%;
    font-family:monospace;
    font-size:0.5cm;    
    
    

}

.header, .forms, .creteacc, button{
    padding:2px;
    margin:10px;
    
    


}


label{
    font-size: 13px;
    width:20px;
    font-family:monospace;
    
}

.rightDiv{
    padding-left: 45px    
}
#create:hover{
    background-color: rgb(84, 80, 122);

}